---
import 'normalize.css';
import 'concrete.css';

import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>John Langs</title>
	</head>
	<body>
		<header>
			<h1> John Langs </h1>

			<p class="social-links">
				<a href="https://github.com/johnlangs">GitHub</a> |
				<a href="/public/resume.pdf">Resume</a> |
				<a href="/">Previous Works</a>
			</p>

			<p> Computer Science student at Texas A&M University with interests in robotics and machine learning. </p>

			<img style="height: 35vh;" src="/go_gopher.gif"/>
		</header>
	</body>
</html>
